.sidebar{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    top:5rem;
    left:50%;
    transform: translateX(-50%);
    width: 16.5rem;
    padding-top: .5rem;
    padding-bottom: 1rem;
    z-index: 100;
    background-color: white;
}

.sidebar-toggle-theme{
    width: 100%;
    padding: 0 .7rem;
    margin-top: 1.2rem;
}