@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    font-family: 'Plus Jakarta Sans', sans-serif;
    /* outline: 1px solid red !important; */

}

input{
    @apply  px-4 py-3 border rounded-md outline-none border-opacity-25 border-primary-500 
}

input:focus,
textarea:focus,
select:focus{
    @apply outline-none
}

textarea{
    @apply px-4 py-4 border rounded-md outline-none border-opacity-25 border-primary-500 
}

select{
    @apply py-4 px-4 border rounded-md outline-none border-opacity-25 border-primary-500 
}

::placeholder{
    @apply text-sm
}